.paginaLogin{
    margin:10% 30% 10% 30%;
}
.contenedorGestion{
    width: 1000px;
    height: 1000px;
}
.paginaEditar{
    width: 500px;
    height: 500px;
    background-color: #336699;
}
img{
    width: 100px;
    height: 100px;
}
.mitabla{
    margin: 100px auto auto auto;
    width: 50%;
    height: 50%;
}
table tr{
    margin: 100px;
}